<form class="duel" action="/duels" method="POST">
  <h1>Enter your Deck Info</h1>
  <input type="text" name="user_deck" placeholder="User Deck:">
  <h1>Enter your Deck Info</h1>
  <input type="text" name="opponent" placeholder="Opponent Username:">
  <input type="text" name="opponent_deck" placeholder="Opponent Deck:">
  <input type="submit" value="DUEL!">
</form>
