<form class="duel" action="/game" method="POST">
  <input type="text" name="username" placeholder="Player Username:">
  <input type="text" name="opponent" placeholder="Opponent Username:">
  <input type="text" name="user_deck" placeholder="User Deck:">
  <input type="text" name="opponent_deck" placeholder="Opponent Deck:">
  <input type="submit" value="DUEL!">
</form>
