body {
  margin:0;
  padding:0;
}
#map {
  position:absolute;
  /*top:200px;*/
  /*bottom:0;*/
  height:100vh;
  width:100vh;
  z-index: -1;
}

#geocoder-container {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 10px;
}

#geocoder-container > div {
    min-width:50%;
    margin-left:25%;
}
