<h1>NEW DECK REGISTRATION</h1>

<form action="/decks" method="POST">
  <input type="text" name="name" placeholder="Deck name:">
  <input type="text" name="type" placeholder="Deck type:">
  <input type="submit" value="Submit">
</form>
